Repository swharr/storm-surge: changes, and which pre-commit hooks are due for each by the changed paths.
All: k8s-manifest-validation, deployment-script-validation, security-validation

k8s-manifest-validation:
  name: Validate Kubernetes Manifests
  entry: tests/hooks/validate-manifests.sh
  language: script
  pass_filenames: false

deployment-script-validation:
  name: Validate Deployment Scripts
  entry: tests/hooks/validate-deploy-scripts.sh
  language: script
  pass_filenames: false

security-validation:
  name: Security Validation
  entry: tests/hooks/validate-security.sh
  language: script
  pass_filenames: false

fix: correct KEDA/base kustomization wiring and PodSecurity gaps
  .gitignore
  SBOM.md
  frontend/k8s/deployment.yaml
  manifests/base/deployments.yaml
  manifests/base/kustomization.yaml
  manifests/base/patches/deployment-annotations.yaml
  manifests/keda/kustomization.yaml
  manifests/middleware/deployment.yaml
  tests/test-suite.sh
Due: k8s-manifest-validation, security-validation

fix(security): remove hardcoded webhook secret from KEDA manifest
  manifests/keda/README.md
  manifests/keda/scaled-objects.yaml
Due: k8s-manifest-validation, security-validation

fix: add missing PodSecurity fields to external-scaler container
  manifests/keda/external-scaler-service.yaml
Due: k8s-manifest-validation, security-validation

fix: resolve provider script CWD-dependent path bugs
  scripts/providers/aks.sh
  scripts/providers/eks.sh
  scripts/providers/gke.sh
Due: deployment-script-validation

fix: resolve middleware NameErrors, finops selector conflict, and PSA gap
  manifests/finops/finops-controller.yaml
  manifests/finops/kustomization.yaml
  manifests/middleware/configmap.yaml
Due: k8s-manifest-validation, security-validation

fix: set HOME for finops-controller's non-root pip install
  manifests/finops/finops-controller.yaml
Due: k8s-manifest-validation, security-validation

fix: unblock middleware and finops on live AKS (#5)
  manifests/finops/finops-controller.yaml
  manifests/finops/kustomization.yaml
  manifests/middleware/configmap.yaml
Due: k8s-manifest-validation, security-validation

fix(security): reject webhooks when WEBHOOK_SECRET unconfigured
  manifests/middleware/configmap.yaml
Due: k8s-manifest-validation, security-validation

fix(ci): unblock PR #6 pre-commit checks
  .editorconfig
  .githooks/pre-commit
  .trivyignore
  docs/WHITESPACE_PREVENTION.md
  manifests/base/namespace-security.yaml
  manifests/base/patches/deployment-annotations.yaml
  manifests/base/rbac.yaml
  manifests/keda/README.md
  manifests/keda/TESTING.md
  manifests/keda/VALIDATION_REPORT.md
  manifests/keda/external-scaler-service.yaml
  manifests/keda/keda-install.yaml
  manifests/keda/kustomization.yaml
  manifests/keda/namespace.yaml
  scripts/fix-whitespace.sh
  tests/hooks/validate-security.sh
  trivy.yaml
Due: k8s-manifest-validation, deployment-script-validation, security-validation

fix(tests): restore emoji in finops log message to match test expectation
  finops/finops_controller.py
Due: none

fix(frontend): resolve ESLint config and 16 explicit-any warnings
  .github/workflows/test-suite.yml
  frontend/.eslintrc.cjs
  frontend/src/hooks/useWebSocket.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FeatureFlags.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: none

fix(ci): bump minikube kubernetes-version pin past minikube's support floor
  .github/workflows/test-suite.yml
Due: none

fix(ci): install Python test deps in Minikube Deployment Test job
  .github/workflows/test-suite.yml
Due: none

chore: add harness demo overlay
  manifests/overlays/harness-demo/disabled-middleware.yaml
  manifests/overlays/harness-demo/kustomization.yaml
Due: k8s-manifest-validation, security-validation

chore: place demo workloads on aks spot nodes
  manifests/overlays/harness-demo/kustomization.yaml
  manifests/overlays/harness-demo/spot-placement.yaml
Due: k8s-manifest-validation, security-validation

Adding new recovery kit to web store
  manifests/base/configmaps.yaml
  manifests/overlays/harness-demo/spot-placement.yaml
Due: k8s-manifest-validation, security-validation

Path conditions:
  k8s-manifest-validation: any of: ^manifests/.*\.(yaml|yml)$
  deployment-script-validation: any of: ^scripts/.*\.sh$
  security-validation: any of: ^manifests/.*\.(yaml|yml)$
