Repository swharr/storm-surge: changes, and which pre-commit hooks are due for each by the changed paths.
All: k8s-manifest-validation, deployment-script-validation, security-validation

.pre-commit-config.yaml:

repos:
  # Local hooks for Storm Surge specific tests
  - repo: local
    hooks:
      # Kubernetes manifest validation
      - id: k8s-manifest-validation
        name: Validate Kubernetes Manifests
        entry: tests/hooks/validate-manifests.sh
        language: script
        files: ^manifests/.*\.(yaml|yml)$
        pass_filenames: false
        
      # Deployment script validation
      - id: deployment-script-validation
        name: Validate Deployment Scripts
        entry: tests/hooks/validate-deploy-scripts.sh
        language: script
        files: ^scripts/.*\.sh$
        pass_filenames: false
        
      # Security validation
      - id: security-validation
        name: Security Validation
        entry: tests/hooks/validate-security.sh
        language: script
        files: ^manifests/.*\.(yaml|yml)$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Ignore sourcing of files

  # YAML validation and formatting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-d', 'relaxed']

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: ['--disable', 'MD013', 'MD041']  # Disable line length and first line rules

test(fixes): align tests with cookie/XSRF model; skip YAML-dependent tests when PyYAML unavailable; fix frontend Dockerfile to run as non-root; harden script credential heuristics
  frontend/Dockerfile
  tests/test_authentication.py
  tests/test_middleware.py
  tests/test_security.py
Due: none

docs: update Spot.io documentation URLs to Flexera domain
  README.md
  git-storm-surge-create.sh
Due: none

Create storm-surge-job-failure-explanation.md
  storm-surge-job-failure-explanation.md
Due: none

fix(frontend): resolve TypeScript type errors for CI testing
  README.md
  frontend/src/components/Layout.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/src/types/index.ts
Due: none

fix: improve type safety by adding backend fields to base User interface
  frontend/src/pages/UserManagement.tsx
  frontend/src/types/index.ts
Due: none

feat(security): implement production-ready authentication system
  manifests/base/kustomization.yaml
  manifests/base/redis.yaml
  manifests/middleware/api_routes.py
  manifests/middleware/deployment.yaml
  manifests/middleware/main.py
  manifests/middleware/requirements.txt
Due: k8s-manifest-validation, security-validation

fix: remove broken documentation links
  README.md
  git-storm-surge-create.sh
Due: none

fix(frontend): resolve React and TypeScript errors
  CLAUDE.md
  frontend/src/App.tsx
  frontend/src/pages/UserManagement.tsx
Due: none

chore: add job failure explanation files to gitignore
  .gitignore
Due: none

fix(frontend): resolve all TypeScript pre-commit validation errors
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/pages/Alerts.tsx
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/AuditLogs.tsx
  frontend/src/pages/Clusters.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FeatureFlags.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/src/vite-env.d.ts
Due: none

Test Validations (#3)
  .claude/agents/code-reviewer.md
  .claude/agents/infosec-adversarial-reviewer.md
  .claude/agents/junior-dev-reviewer.md
  .claude/agents/secure-test-engineer.md
  .claude/agents/technical-docs-writer.md
  .github/workflows/test-suite.yml
  .gitignore
  AGENTS.md
  CLAUDE.md
  frontend/Dockerfile
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/pages/Alerts.tsx
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/AuditLogs.tsx
  frontend/src/pages/Clusters.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FeatureFlags.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/src/vite-env.d.ts
  manifests/base/namespace.yaml
  manifests/middleware/api_routes.py
  manifests/middleware/main.py
  manifests/middleware/requirements.txt
  tests/test_authentication.py
  tests/test_middleware.py
  tests/test_security.py
Due: k8s-manifest-validation, security-validation

feat(security): migrate to cookie-based auth with CSRF; add API rate limiting; enforce PSA labels; tighten CI pre-commit gate
  frontend/src/App.tsx
Due: none

feat(ci): add comprehensive test dependencies and frontend test setup
  .github/workflows/test-suite.yml
  finops/requirements.txt
  frontend/package.json
  frontend/src/test/App.test.tsx
  frontend/src/test/setup.ts
  frontend/vite.config.ts
  requirements-test.txt
Due: none

fix(frontend): resolve TypeScript compilation errors
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
Due: none

fix(tests): resolve Python unit test failures in middleware tests
  manifests/middleware/main.py
  tests/test_middleware.py
Due: none

fix(formatting): remove trailing whitespace
  manifests/middleware/main.py
  tests/test_middleware.py
Due: none

fix(docs): revert to original docs.spot.io URLs
  README.md
  git-storm-surge-create.sh
Due: none

feat(docs): add markdown link checker config to skip spot.io/flexera.com domains
  mlc_config.json
Due: none

fix(formatting): clean trailing whitespace across all files
  storm-surge-job-failure-explanation.md
Due: none

fix(formatting): add newline at end of mlc_config.json
  mlc_config.json
Due: none

ci: add npm cache env for markdownlint in pre-commit job; fallback to npm install when no package-lock.json present
  .github/workflows/test-suite.yml
Due: none

fix(security): whitelist python and nginx registries in security tests
  tests/test_security.py
Due: none

fix(tests): resolve Python security test failures
  tests/test_security.py
Due: none

fix(formatting): remove trailing whitespace from test_security.py
  tests/test_security.py
Due: none

fix(tests): add COST_IMPACT_THRESHOLD and LOG_LEVEL to acceptable patterns
  tests/test_security.py
Due: none

fix(tests): skip commented lines in hardcoded secrets detection
  tests/test_security.py
Due: none

fix(tests): fix case sensitivity issue and add whitespace prevention tools
  .editorconfig
  .githooks/pre-commit
  .github/workflows/test-suite.yml
  .sublime/trailing_spaces.sublime-settings
  .trivyignore
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  SECURITY_REVIEW.md
  chaos-testing/lightning-strike.sh
  docs/FINOPS.md
  docs/cluster-sweep.md
  docs/sample-finops-log-output.txt
  finops/finops_controller.py
  fix-repo-naming.sh
  manifests/base/storm-surge-app.yaml
  scripts/deploy.sh
  scripts/fix-whitespace.sh
  scripts/prod_deploy_preview.sh
  setup.py
  test-local.sh
  tests/hooks/validate-deploy-scripts.sh
  tests/hooks/validate-security.sh
  tests/test-suite.sh
  tests/test_frontend.py
  tests/test_middleware.py
  tests/test_scripts.py
  trivy-results.sarif
  trivy.yaml
  verify-dependencies.sh
Due: k8s-manifest-validation, deployment-script-validation, security-validation

docs: add comprehensive whitespace prevention guide
  docs/WHITESPACE_PREVENTION.md
Due: none

fix(shellcheck): remove unused RED color variable
  .githooks/pre-commit
  scripts/fix-whitespace.sh
Due: deployment-script-validation

fix(config): add final newlines and update gitignore for editor configs
  .gitignore
  .sublime/trailing_spaces.sublime-settings
  .vscode/settings.json
  manifests/base/kustomization.yaml
  manifests/base/namespace-security.yaml
  manifests/base/rbac.yaml
  storm-surge.sublime-project
Due: k8s-manifest-validation, security-validation

fix(formatting): add final newlines to all files missing them
  .githooks/pre-commit
  Makefile
  frontend/k8s/deployment.yaml
  frontend/k8s/kustomization.yaml
  frontend/k8s/networkpolicy.yaml
  manifests/middleware/deployment.yaml
  manifests/middleware/kustomization.yaml
  manifests/middleware/networkpolicy.yaml
  scripts/fix-whitespace.sh
  trivy.yaml
Due: k8s-manifest-validation, deployment-script-validation, security-validation

fix(whitespace): resolve persistent whitespace and newline issues
  scripts/fix-whitespace.sh
  trivy.yaml
Due: deployment-script-validation

chore(ci): fix trailing whitespace and ensure EOF newlines for pre-commit hooks
  .editorconfig
  .github/workflows/test-suite.yml
  .trivyignore
  docs/WHITESPACE_PREVENTION.md
  frontend/k8s/networkpolicy.yaml
  manifests/middleware/networkpolicy.yaml
  storm-surge.sublime-project
Due: k8s-manifest-validation, security-validation

fix(formatting): add final newlines to remaining files with missing EOL
  .editorconfig
  .trivyignore
  docs/WHITESPACE_PREVENTION.md
Due: none

fix: resolve persistent pre-commit formatting issues
  .githooks/pre-commit
  .vscode/settings.json
  Makefile
  tests/hooks/validate-security.sh
Due: none

feat: add KEDA integration for feature flag-driven autoscaling
  manifests/keda/README.md
  manifests/keda/external-scaler-service.yaml
  manifests/keda/keda-install.yaml
  manifests/keda/kustomization.yaml
  manifests/keda/namespace.yaml
  manifests/keda/patches/deployment-annotations.yaml
  manifests/keda/scaled-objects.yaml
Due: k8s-manifest-validation, security-validation

test: add comprehensive KEDA testing guide and validation
  manifests/keda/TESTING.md
Due: none

test: comprehensive local validation of KEDA integration
  manifests/keda/VALIDATION_REPORT.md
Due: none
