Repository swharr/storm-surge: changes, and which pre-commit hooks are due for each by the changed paths.
All: k8s-manifest-validation, deployment-script-validation, security-validation

.pre-commit-config.yaml:

repos:
  # Local hooks for Storm Surge specific tests
  - repo: local
    hooks:
      # Kubernetes manifest validation
      - id: k8s-manifest-validation
        name: Validate Kubernetes Manifests
        entry: tests/hooks/validate-manifests.sh
        language: script
        files: ^manifests/.*\.(yaml|yml)$
        pass_filenames: false
        
      # Deployment script validation
      - id: deployment-script-validation
        name: Validate Deployment Scripts
        entry: tests/hooks/validate-deploy-scripts.sh
        language: script
        files: ^scripts/.*\.sh$
        pass_filenames: false
        
      # Security validation
      - id: security-validation
        name: Security Validation
        entry: tests/hooks/validate-security.sh
        language: script
        files: ^manifests/.*\.(yaml|yml)$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Ignore sourcing of files

  # YAML validation and formatting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-d', 'relaxed']

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: ['--disable', 'MD013', 'MD041']  # Disable line length and first line rules

Test Suite Updates
  .github/workflows/test-suite.yml
  test-local.sh
  tests/hooks/validate-manifests.sh
Due: none

More Linting
  README.md
  chaos-testing/lightning-strike.sh
  configs/clusters/clusters.json
  finops/tests/conftest.py
  manifests/base/storm-surge-app.yaml
  scripts/cleanup/cluster-sweep.sh
  scripts/deploy.sh
  scripts/load-test.sh
  scripts/lockitdown.sh
  test-local.sh
  tests/hooks/validate-deploy-scripts.sh
  tests/hooks/validate-security.sh
  tests/test-suite.sh
  tests/test_middleware.py
Due: k8s-manifest-validation, deployment-script-validation, security-validation

Preflight Updates
  .github/workflows/test-suite.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/REPOSITORY.md
  docs/v0.1.1-Alpha-POC-Release.md
  finops/README.md
  finops/finops_controller.py
  finops/tests/conftest.py
  finops/tests/run_tests.sh
  finops/tests/test_basic.py
  finops/tests/test_finops_controller.py
  finops/tests/test_integration.py
  fix-repo-naming.sh
  manifests/base/configmaps.yaml
  manifests/base/nginx-configs.yaml
  manifests/finops/finops-controller.yaml
  manifests/middleware/configmap.yaml
  manifests/middleware/main.py
  scripts/deploy.sh
  scripts/load-test.sh
  scripts/prod_deploy_preview.sh
  scripts/providers/aks.sh
  scripts/providers/eks.sh
  scripts/providers/gke.sh
  test-local.sh
  tests/hooks/validate-manifests.sh
  tests/hooks/validate-security.sh
  tests/test-suite.sh
  tests/test_scripts.py
  tests/test_security.py
Due: k8s-manifest-validation, deployment-script-validation, security-validation

Security Preflight Fixes
  CHANGELOG.md
  manifests/base/storm-surge-app.yaml
  tests/hooks/validate-security.sh
Due: k8s-manifest-validation, security-validation

Secret False Flag
  CHANGELOG.md
  tests/hooks/validate-security.sh
Due: none

more security tweaks
  CHANGELOG.md
  manifests/sec_fixes/sectest_validate.yaml
  tests/hooks/validate-security.sh
Due: k8s-manifest-validation, security-validation

Fix trailing whitespace and end-of-file newlines
  README.md
  manifests/middleware/Dockerfile
Due: none

Plumbing Fixes
  .github/workflows/test-suite.yml
  CHANGELOG.md
  docs/REPOSITORY.md
  fix-repo-naming.sh
  git-storm-surge-create.sh
  scripts/deploy-finops.sh
  tests/test-suite.sh
Due: deployment-script-validation

test suite GSuite Components fix
  .github/workflows/test-suite.yml
Due: none

Update test-suite.yml
  .github/workflows/test-suite.yml
Due: none

Update test-suite.sh
  tests/test-suite.sh
Due: none

update test-suite logic
  CHANGELOG.md
  tests/test-suite.sh
Due: none

Updating React References
  frontend/.eslintrc.cjs
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/index.css
  frontend/src/pages/Alerts.tsx
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/AuditLogs.tsx
  frontend/src/pages/Clusters.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FeatureFlags.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/src/services/api.ts
Due: none

Logging/Telemetry updates
  .github/workflows/test-suite.yml
  README.md
  build-middleware.sh
  docs/OBSERVABILITY.md
  docs/SDK_SETUP.md
  docs/SECURITY.md
  feature_flag_configure.py
  frontend-setup.sh
  frontend/.env.example
  frontend/.env.local.example
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/FeatureFlagDemo.tsx
  frontend/src/providers/FeatureFlagProvider.tsx
  frontend/src/telemetry.ts
  interactive-frontend-setup.sh
  manifests/middleware/Dockerfile
  manifests/middleware/feature_flags.py
  manifests/middleware/main.py
  manifests/middleware/metrics.py
  manifests/middleware/requirements-launchdarkly.txt
  manifests/middleware/requirements-statsig.txt
  manifests/middleware/requirements.txt
  manifests/middleware/telemetry.py
  manifests/observability/jaeger-deployment.yaml
  manifests/observability/otelcol-config.yaml
  manifests/observability/otelcol-deployment.yaml
  manifests/observability/prometheus-deployment.yaml
  tests/test_frontend.py
Due: k8s-manifest-validation, security-validation

Code Cleanup and fixes
  DRY_RUN_CHECKLIST.md
  frontend/.env.local.backup.20250725_101639
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/providers/FeatureFlagProvider.tsx
  frontend/src/vite-env.d.ts
  manifests/middleware/main.py
  setup-middleware.sh
  test-setup.sh
Due: none

Break Fix
  frontend/src/App.tsx
  frontend/src/components/FeatureFlagDemo.tsx
  frontend/src/providers/FeatureFlagProvider.tsx
  frontend/src/telemetry.ts.disabled
Due: none

TS UX Updates
  frontend/src/App.tsx
  frontend/src/providers/FeatureFlagProvider.tsx
Due: none

Updated K8s service logic
  CHANGELOG.md
  README.md
  SECURITY_REVIEW.md
  scripts/deploy.sh
  scripts/providers/eks.sh
Due: deployment-script-validation

Initial dev branch setup with LoadBalancer security group improvements
  docs/FEATURE_FLAGS.md
  manifests/base/services.yaml
  manifests/middleware/configmap.yaml
  scripts/configure-feature-flags.sh
  scripts/deploy-middleware.sh
  scripts/providers/aks.sh
  scripts/providers/eks.sh
  scripts/providers/gke.sh
Due: k8s-manifest-validation, deployment-script-validation, security-validation

🚀 Complete real-world production workload implementation
  manifests/databases/kustomization.yaml
  manifests/databases/postgresql.yaml
  manifests/databases/redis.yaml
  manifests/dev/README.md
  manifests/dev/frontend-config-patch.yaml
  manifests/dev/frontend-deployment.yaml
  manifests/dev/kustomization.yaml
  manifests/load-testing/k6-load-test.yaml
  manifests/load-testing/kustomization.yaml
  manifests/messaging/rabbitmq.yaml
  manifests/monitoring/grafana.yaml
  manifests/monitoring/kustomization.yaml
  manifests/monitoring/prometheus.yaml
  manifests/services/product-catalog/Dockerfile
  manifests/services/product-catalog/deployment.yaml
  manifests/services/product-catalog/main.py
  manifests/services/product-catalog/requirements.txt
  manifests/services/shopping-cart/Dockerfile
  manifests/services/shopping-cart/deployment.yaml
  manifests/services/shopping-cart/main.py
  manifests/services/shopping-cart/requirements.txt
  manifests/services/user-auth/Dockerfile
  manifests/services/user-auth/deployment.yaml
  manifests/services/user-auth/main.py
  manifests/services/user-auth/requirements.txt
Due: k8s-manifest-validation, security-validation

test coverage updates
  .github/workflows/dev-validation.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-suite.yml
  scripts/cleanup.sh
  scripts/cleanup/README.md
  scripts/cleanup/cleanup-aws.sh
  scripts/cleanup/cleanup-azure.sh
  scripts/cleanup/cleanup-gcp.sh
  scripts/cleanup/cluster-sweep.sh
Due: deployment-script-validation

test fixes
  .github/workflows/dev-validation.yml
  manifests/services/product-catalog/deployment.yaml
  manifests/services/user-auth/deployment.yaml
  setup.sh
Due: k8s-manifest-validation, security-validation

Test Coverage Updates
  .github/workflows/dev-validation.yml
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/pages/Alerts.tsx
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/AuditLogs.tsx
  frontend/src/pages/Clusters.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FeatureFlags.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: none

Updates
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/UserManagement.tsx
Due: none

Code & Test Coverage Updates
  .github/workflows/dev-validation.yml
  .github/workflows/test-suite.yml
  manifests/providerIAM/README.md
  manifests/providerIAM/aws/README.md
  manifests/providerIAM/aws/eks-admin-policy.json
  manifests/providerIAM/azure/README.md
  manifests/providerIAM/azure/aks-admin-role.json
  manifests/providerIAM/gcp/README.md
  manifests/providerIAM/gcp/gke-admin-role.yaml
  manifests/providerIAM/validate-permissions.sh
  scripts/iam/apply-aws-iam.sh
  scripts/iam/apply-azure-iam.sh
  scripts/iam/apply-gcp-iam.sh
  setup.sh
  tests/run-iam-tests.sh
  tests/test-iam-policies.sh
  tests/test_iam_policies.py
  tests/validate-iam-quick.sh
Due: k8s-manifest-validation, deployment-script-validation, security-validation

StormSurge-Core
  CHANGELOG-core.md
  README-core.md
  feature_flag_configure.py
  frontend/package-minimal.json
  frontend/src/App-minimal.tsx
  frontend/src/components/Layout-minimal.tsx
  frontend/src/pages/Dashboard-minimal.tsx
  frontend/src/pages/Status.tsx
  manifests/core/kustomization.yaml
  manifests/core/namespace.yaml
  manifests/core/security-patch.yaml
  manifests/middleware/api_routes.py
  manifests/middleware/configmap-minimal.yaml
  manifests/middleware/deployment-minimal.yaml
  manifests/middleware/feature_flags.py
  manifests/middleware/logging_providers.py
  manifests/middleware/main.py
  manifests/middleware/main_debug.py
  manifests/middleware/main_minimal.py
  manifests/middleware/main_with_frontend.py
  manifests/middleware/secrets-minimal.yaml
  manifests/middleware/service-minimal.yaml
  setup-minimal.sh
Due: k8s-manifest-validation, security-validation

Test Coverage Update
  .github/workflows/core-validation.yml
  .github/workflows/dev-validation.yml
  .github/workflows/security-scan.yml
  .pre-commit-config-core.yaml
  .yamllint
  CHANGELOG-core.md
  CHANGELOG.md
  CORE_MANIFEST.md
  README-core.md
  README.md
  SECURITY_VALIDATION.md
  manifests/CREDENTIALS_SECURITY.md
  manifests/frontend-cpu-routing.yaml
  manifests/load-generators.yaml
  manifests/middleware/Dockerfile
  manifests/middleware/configmap-fixed.yaml
  manifests/middleware/configmap.yaml
  manifests/middleware/deployment-minimal.yaml
  manifests/middleware/deployment.yaml
  manifests/middleware/index.html
  manifests/middleware/kustomization.yaml
  manifests/middleware/requirements.txt
  manifests/middleware/secret-template.yaml
  manifests/middleware/secret.yaml
  manifests/middleware/secure-middleware.yaml
  manifests/middleware/service.yaml
  manifests/middleware/storm-surge-fixed.yaml
  manifests/offroad-storefront.yaml
  scripts/security-check.sh
Due: k8s-manifest-validation, deployment-script-validation, security-validation

SecTest-Secrets-Fix
  .github/workflows/core-validation.yml
  .github/workflows/dev-validation.yml
  SECURITY_VALIDATION.md
  scripts/security-check.sh
Due: deployment-script-validation

TestFix
  .github/workflows/core-validation.yml
  manifests/core/configmap.yaml
  manifests/core/deployment.yaml
  manifests/core/kustomization.yaml
  manifests/core/security-patch.yaml
  manifests/core/service.yaml
Due: k8s-manifest-validation, security-validation

dev validate fix
  .github/workflows/dev-validation.yml
Due: none

ValidYaml Updates
  .github/workflows/core-validation.yml
  .github/workflows/dev-validation.yml
Due: none

New Stats Script
  scripts/pstats.sh
Due: deployment-script-validation

Add platform status monitoring and release packaging
  README.md
  RELEASE_CHECKLIST.md
  frontend/package.json
  scripts/package-release.sh
Due: deployment-script-validation

Just Vibin' Updates
  BRANCH_COMPARISON.md
  SECURITY_FIXES_REPORT.md
  WORKLOAD_COMPARISON.md
  manifests/databases/persistent-storage.yaml
  manifests/middleware/auth_middleware.py
  manifests/middleware/rate_limiter.py
  manifests/middleware/secret-external.yaml
  manifests/security/ingress-tls.yaml
  manifests/security/network-policies.yaml
  manifests/security/rbac.yaml
  scripts/validate-input.sh
Due: k8s-manifest-validation, deployment-script-validation, security-validation

In the Summer Time we Vibe
  .github/workflows/security.yml
  .yamllint.yml
  README-WELL-ARCHITECTED.md
  SECURITY.md
  STORM_SURGE_TEST_SUITE_GUIDE.md
  docs/ADVANCED_CUSTOMIZATION.md
  docs/CONFERENCE_DEMO_GUIDE.md
  docs/SECURITY_INCIDENT_RESPONSE.md
  manifests/base/enhanced-deployments.yaml
  manifests/base/enhanced-hpa.yaml
  manifests/base/kustomization.yaml
  manifests/base/network-policies.yaml
  manifests/demo/demo-patches.yaml
  manifests/demo/kustomization.yaml
  manifests/finops/enhanced-finops-controller.yaml
  manifests/monitoring/kustomization.yaml
  manifests/monitoring/monitoring.yaml
  scripts/demo-load-test.sh
  scripts/demo-validation.sh
  scripts/lockitdown.sh
  scripts/security-audit.sh
Due: k8s-manifest-validation, deployment-script-validation, security-validation

feat(security): migrate to cookie-based auth with CSRF; add API rate limiting; enforce PSA labels; tighten CI pre-commit gate
  .claude/agents/code-reviewer.md
  .claude/agents/infosec-adversarial-reviewer.md
  .claude/agents/junior-dev-reviewer.md
  .claude/agents/secure-test-engineer.md
  .claude/agents/technical-docs-writer.md
  .github/workflows/test-suite.yml
  AGENTS.md
  CLAUDE.md
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/pages/Login.tsx
  frontend/src/services/api.ts
  manifests/base/namespace.yaml
  manifests/middleware/api_routes.py
  manifests/middleware/main.py
  manifests/middleware/requirements.txt
Due: k8s-manifest-validation, security-validation

ci(infosec): add InfoSec review gate job to verify cookie-based auth, CSRF, PSA labels, and frontend XSRF usage; gate release-check on InfoSec job
  .github/workflows/test-suite.yml
Due: none
